<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquerydatatables")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Restricted", "Restricted", "Home")</li>
                    @if (!@HttpContext.Current.GetOwinContext().Authentication.User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                        <li>@Html.ActionLink("Register", "Register", "Account")</li>
                    }
                </ul>
                @if (@HttpContext.Current.GetOwinContext().Authentication.User.Identity.IsAuthenticated)
                {
                    var externalIssuer = @HttpContext.Current.GetOwinContext().Authentication.User.Claims.Where(c => c.Type == "Issuer").Select(c => c.Value).FirstOrDefault();
                    var prefix = "You signed in with your " + externalIssuer + " account";

                    <ul class="nav navbar-nav navbar-right">
                        <li><a>@if (!string.IsNullOrEmpty(externalIssuer)) { <b>@prefix</b> } @HttpContext.Current.GetOwinContext().Authentication.User.Identity.Name</a></li>
                        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    </ul>
                }





            </div>
        </div>
    </div>
    <div class="container body-content">
        @*@foreach (var item in @HttpContext.Current.GetOwinContext().Authentication.User.Claims)
        {
            <span>xxx @HttpContext.Current.GetOwinContext().Authentication.User.Claims.Where(c => c.Type == "Issuer").Select(c => c.Value).FirstOrDefault()</span>
            <br/>
            <span style="color: darkred;">@item.Issuer</span><br />
            <span style="color: darkred;">@item.OriginalIssuer</span><br />
            <span style="color: darkred;">@item.Type</span><br />
            <span style="color: darkred;">@item.Value</span><br />
        }*@

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    
</body>
</html>
