@using PagedList;
@using PagedList.Mvc;
@model IPagedList<CodingExercise.Models.UserVM>
@*@model IEnumerable<CodingExercise.Models.UserVM>*@

@{
    ViewBag.Title = "Index";
}

<h2>List of Users</h2>

<p>
    <button>@Html.ActionLink("Create New", "Create")</button>

    <button class="pull-right">@Html.ActionLink("Export to PDF", "ExportToPDF")</button>

    <button class="pull-right" style="margin-right: 1em;">@Html.ActionLink("Export to Excel", "ExportToExcel")</button>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Phone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RoleName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Phone)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
